model/rgb/CNN_model_fold_5_trained_50epoch_validation_accuracy_0.6666666666666666.pt
model/rgb/ScatNet_model_dict_fold_5_trained_100epoch_validation_accuracy_0.7333333333333333_momentum0.0_.pt
model/rgb/less/CNN_model_fold_5_trained_50epoch_validation_accuracy_0.6666666666666666.pt
model/rgb/less/ScatNet_model_dict_fold_5_trained_100epoch_validation_accuracy_0.7333333333333333_momentum0.0_.pt
